/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
	-fx-background-color: lightgrey;
}

.label {
	-fx-font-size: 20;
	-fx-alignment: center;
}

#label_title {
	-fx-font-size: 25;
}

#btn_register {
	-fx-color: lightgreen;
}

#btn_login {
	-fx-color: lightgreen;
}

#btn_quit {
	-fx-color: red;
	
	
	
}